*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homeCarosule{
  height: 80vh;
}
.homeCarosule div img{
  height: 70vh;
  width: 100%;
  padding-top: 80px;
}
.homeCards {
    height: 200px;
    width: 200px;
}
